.flex-container {
    display: inline-flexbox;
    flex-direction: row-reverse;
    padding: 20px;
    height: 250px;

    }
.space{ display: block; }
.title {
    display: block;
    width: 100%;
    height: 100%;
  } 