<app-server></app-server>
<app-header></app-header>

<div>
                <div class="col-md-6">
                        <h2>Call Sent Log Report</h2>
                        <app-date-picker></app-date-picker>
                        <app-bar-chart></app-bar-chart>
                </div>
                <div class="col-md-6">
                        <h2>Over All Call Sent Log Report</h2>
                        <app-date-picker></app-date-picker>
                        <app-line-chart></app-line-chart>
                </div>
</div>

<div>

                <div class="col-md-6">
                        <h2>Active Beneficeries User Statistics</h2>
                        <app-date-picker></app-date-picker>
                        <app-doughnut-chart></app-doughnut-chart>
                </div>
                <div class="col-md-6">
                        <h2>Statistics Data</h2>
                        <app-date-picker></app-date-picker>
                        <app-radar-chart></app-radar-chart>
                </div>
</div>


                



